<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1 style="text-align: center; margin-top: 10%;" > Welcome to Lakra's Url shortner</h1>
    <h1 style="text-align: center; margin-top: 2%;">URL Shortener API</h1>
  <p style="text-align: center;">Use the /api/url endpoint to create short URLs.</p>
  <div style="width:100%; display:flex; align-items:center; justify-content:center; margin-top:30px;">
    <table>
        <tr>
            <th style="padding: 10px; border: 1px solid black;">Short Code</th>
            <th style="padding: 10px; border: 1px solid black;">Redirect URL</th>
            <th style="padding: 10px; border: 1px solid black;">Number of Clicks</th>
        </tr>
  <% urls.forEach(url => { %>
    <tr>
        <td style="padding: 10px; border: 1px solid black;"><%= url.shortCode %></td>
        <td style="padding: 10px; border: 1px solid black;"><%= url.redirectUrl %></td>
        <td style="padding: 10px; border: 1px solid black;"><%= url.numberofClicks %></td>
    </tr>
  <% }) %>
  </table>
</div>

  <!-- <div style="width:100%; display:flex; align-items:center; justify-content:center; margin-top:30px;">
    <table>
      <tr>
        <th style="padding: 10px; border: 1px solid black;">shortCode</th>
        <th style="padding: 10px; border: 1px solid black;">redirectUrl</th>
        <th style="padding: 10px; border: 1px solid black;">numberofClicks</th>
      </tr>
      ${
        allUrls.length > 0
          ? allUrls.map(
              (url, index) =>
                `<tr key=${index}> 
              <td style="padding: 10px; border: 1px solid black;">${url.shortCode}</td>
              <td style="padding: 10px; border: 1px solid black;">${url.redirectUrl}</td>
              <td style="padding: 10px; border: 1px solid black;">${url.numberofClicks}</td>
            </tr>`
            )
          : `<tr> <td colspan="3" style="text-align: center; padding: 10px; border: 1px solid black;">No URLs found</td> </tr>`
      }
    </table>
  </div> -->
</body>
</html>